.avatar_section {
  text-align: center;
  padding: 20px 40px;
  border-right: 1px solid #30363d;
}

.avatar_container {
  position: relative;
  display: inline-block;
}

.avatar_section-image {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.emoji-badge {
  position: absolute;
  bottom: 50px;
  right: 10px;
  border-radius: 50%;
  padding: 6px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.whatsapp_button{
  margin: auto;
  color: #25D366;
  border: none;
  padding: 10px;
  border-radius: 5px;
  border-color: #25D366;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #11111100;
}
.follow-button .dark-mode{
background-color: #1d1c1c !important;
}
.follow-button .light-mode{
  background-color: #ccc;
}



.achievements {
  margin-top: 35px;
  text-align: left;
  padding: 0 13px;
  position: relative;
}

.achievements.dark::before {
  background-color: #444;
}

.achievements.light::before {
  background-color: #111;
}

.achievements::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 15px;
}

.achievement-list {
  display: flex;
  gap: 0px;
}

.achievement-item {
  position: relative;
}

.achievement-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

h3 {
  padding-bottom: 12px;
}

.badge-count {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: orange;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

.followers-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 20px;
  font-size: 14px;
}

.followers-count, .following-count {
  font-weight: bold;
  padding: 0 10px;
}

.followers-section .dark-theme {
  color: #ccc;
}

.followers-section .light-theme {
  color: rgb(41, 40, 40);
}

.foll-hover:hover{
  cursor: pointer;
}

/* Imagen más pequeña en versión móvil */
.avatar-mobile {
  width: 140px;
  height: 140px;
}

/* Contenedor general más compacto para móviles */
@media (max-width: 768px) {
  .avatar_section {
    padding: 20px 10px;
    border-right: none;
    display: flex;
  }

  .avatar_section-image{
    width: 110px;
    height: 110px;
  }

  h1,.desapear {display: none;}

  .emoji-badge {
    display: none;
    bottom: 10px;
    right: 10px;
  }
  .whatsapp_button {
    font-size: 14px;
    padding: 8px;
  }

  .achievement-list {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .achievement-item img {
    width: 50px;
    height: 50px;
  }
}
