.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 8px; 
}

.logo-icon {
  width: 24px; 
  height: auto;
}


.nav-menu {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: none;
  border: none;
}

.nav-menu .ant-menu-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  width: 200px;
} 

.dark-theme {
  --bg-color: #161b22;
  --border-color: #30363d;
  color: white;
}

.light-theme {
  --bg-color: white;
  --border-color: #e1e4e8;
  color: black;
}

@media (max-width: 768px) {
  .search-bar {
    max-width: 40px;
    font-size: 14px;
  }
}