/* index */



  
  /* infoSection */
  .info {
    padding: 20px 40px;
    flex: 1;
  }
  
  a {
    color: #58a6ff;
    text-decoration: none;
  }

  /* all */
  .dark-theme {
    background-color: #121212;
    color: white;
  }
  
  .light-theme {
    background-color: #ffffff;
    color: black;
  }
  
  @media (max-width: 768px) {
    .welcome-container {
      flex-direction: column;
    }
  }